# Gradle
# ignoreList

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.idea/workspace.xml
*.log
/sandbox/.gradle/
/addressbook-web-tests/.gradle/
.idea/modules/addressbook-web-tests_test.iml
